<h2>Email: rgpass@gmail.com</h2>
<h2>Phone: (404) 867-5309"</h2>

<p>My age is: <%= 25 + 3 %></p>

<p>My groceries: <%= ["apples", "oranges", "bread", "milk"].join(", ") %></p>

<h3>My friends</h3>
<% ["Doug", "Kevin", "Kristin", "Matt"].each do |name| %>
  <p><%= name %></p>
<% end %>

<% a = "aye" %>
<% b = "bee" %>
<%= b %>
<%# Comments in ERb %>

