<head>
  <title>Gerry Pass | <%= @title %></title>
  <link rel="stylesheet" href="/css/custom.css">
  <script src="/js/random.js"></script>
</head>
<body>
  <%= erb :_navigation %>
  <h1>Welcome! (header)</h1>
  <%= yield %>
  <h1>See ya! (footer)</h1>
</body>